<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./path/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./path/css/shop_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./path/css/font.css">
    <link rel="stylesheet" type="text/css" href="./path/css/animate.css">
    <title>Mergez.eu - SHOP</title>
</head>
<body>
    <noscript>Please enable JavaScript in your browser for game to work!</noscript>
    <div id="container">
        <div id="shop">
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            <div class="skinCard"><p class="skinName">dragon</p><img alt src="https://tricksplit.io/skins/skin_level_30.png" class="skin"><p><button class="price">free</button></p></div>
            
        </div>
    </div>

</body>
</html>